<h1><%=t('hello')%></h1>
<p>Test</p>

<a tabindex="-1" href="#"><i class="fa fa-commenting-o"></i> Switch language</a>
<ul class="dropdown-menu">
  <li><a href="/language?locale=th"><img src="/switch_language/flag-thailand.png" alt="flag-thailand">&nbsp;&nbsp; ภาษาไทย</a></li>
  <li class="divider"></li>
  <li><a href="/language?locale=en"><img src="/switch_language/flag-united-kingdom.png" alt="flag-thailand">&nbsp;&nbsp; English</a></li>
</ul>

<h1>Email : <%=current_user.email%></h1>	
<h1>Status : <%=user_signed_in?%></h1>
<h3>Time : <%=DateTime.now%></h3>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
